# IDE files
/.vscode/

# virtual enviroments
/*venv

#cache files
.pytest_cache/
__pycache__/

# test files
.coverage
empty_file.txt

# packages files
*.egg-info
dist/

# mypy 
.mypy_cache/

# badge files

flake8stats.txt 